:root{
    --button-color:#6C63FF;
    --heading-font-family:'Playfair Display', serif;
    --default-font-family:'Poppins', sans-serif;
    --secondary-font-family:'Architects Daughter', cursive;
    --primary-color:#f9f7fe;
}
body{
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: black;    
    font-weight: bold;
}
h1{
    font-size: 92px;
}
h4{
   font-family: var(--heading-font-family);
   font-weight: bold;
   font-size: 42px;
}
.name{
    font-size: 20px;
    margin-top: 40px;      
    
}
.full-name{
    color: #6C63FF;
    font-size: 54px; 
    margin-bottom: 50px; 
     
}
.heading{    
    font-weight: normal;
    text-align: center;    
   
}
.hero{
    background: var(--primary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p{    
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}
.hero h2{
    font-family: var(--heading-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
    color: #272142;    
}
.btn-success{
    background: var(--button-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    border: blueviolet;
    margin-top: 30px;        
}
.btn-success:hover{
    color: var(--button-color);
    border: 1px solid var(--button-color);    
    border-radius: 4px;
    background: var(--primary-color);
}
.architectural-heading{
    font-family:var(--secondary-font-family);
    font-size: 42px;
    font-weight: bold;
}
p{
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    
}
.btn-branding{
    color:var(--button-color);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    border: 1px solid var(--button-color);
    border-radius: 4px;
}
.about-section{
    padding: 40px 60px;
}
.content-about{
    padding: 160px 20px;
}
.content-about h1{
    font-size: 64px;
    line-height: 50px;
}
.content-about h2{
    font-size: 18px;
    font-family: var(--default-font-family);
}
.img-about{
    height: 300px;
    width: 300px;
    margin-top: 180px;
    border-radius: 50%;
    
}
.work-section h1{
    font-size: 64px;
    text-align: center;
    font-family: var(--secondary-font-family);    
}
.content p{
    font-size: 14px;    
    text-align: center;
    margin: 0;
    font-family: var(--default-font-family);
}
.content h3{
    font-size: 24px;
    text-align: center;
    font-family: var(--default-font-family);
    line-height: 1.5;
    margin-top: 20px;
}
.img-work-1{
    height: 300px;
    width: 501px; 
    background: var(--primary-color);
    border-radius: 5px;
          
}
.img-work-2{
    height: 306px;
    width: 493px; 
    background: var(--primary-color);   
    border-radius: 5px;  
    margin-bottom: 5px;
    margin-left: 10px; 
         
}
.img-work-3{
    height: 300px;
    width: 488px;
    background: var(--primary-color);
    border-radius: 5px;     
}
.img-work-4{
    height: 299px;
    width: 460px;
    background: var(--primary-color);
    border-radius: 5px;
    margin-left: 20px;
}
.img-index-1{
    padding: 20px;
    margin-left: 60px;
    background: var(--primary-color);
    border-radius: 5px;
}
.img-index-2{    
    padding: 20px;
    margin-left: 20px;
    background: var(--primary-color);
    border-radius: 5px;
    
}
.img-index-3{
    padding: 20px;
    background: var(--primary-color);
    border-radius: 5px;
    display: block;
    margin-left: -10px;
}
.work-section h1{
    font-family: var(--secondary-font-family) ;   
    line-height: 80px;
}
.fa-brands,.fa-sharp {
    font-size: 30px;
    margin: 0 10px 20px 0;
}
.logo{
    max-width: 160px;
    max-height: 110px;    
}
.logo-mini {    
    max-height: 40px; 
    margin-top: 22px;   
}
nav li{
    display: inline;
    padding: 7px;
    line-height: 42px;      
}
nav ul{    
    margin-top: 20px;
    padding: 0;    
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover,
nav li.active a{
    color: var(--button-color);
    transition: all 100ms ease-in-out;
}
.last-row{
    margin-bottom: 50px;
}
footer .all-links{
    text-align: center;    
}

footer .email-link{       
    color: black;
    font-size: 18px;
    text-decoration: none; 
    text-align: center; 
    transition: all 200ms ease-in-out; 
}
footer .email-link:hover{
    color: var(--button-color);
    transition: all 100ms ease-in-out;
    background: white;
}
footer .icons{    
    margin-top: 30px;
    text-align: center;
    font-size: 18px;      
}
footer p{
    font-size: 12px;
}
.icons a{
    background: var(--primary-color);    
    text-align: center;
    border-radius: 50px;
    padding: 10px 15px;
    margin: 0 20px;  
    color: var(--button-color);
    transition: all 200ms ease-in-out;     
}

footer .icons a:hover{
    color:white;
    background: var(--button-color);     
}
.contact-box{
    background: var(--primary-color);
    border-radius: 20px; 
    padding: 30px 120px;
    margin-bottom: 50px;   

}
footer .github-link:hover{
    color: blue;
}

@media(max-width: 900px){
.project-description{
    padding: 0;
    text-align: center;
}
h1{
    font-size: 54px;
    line-height: 1.5;
}
.hero{
    padding: 80px 20px;
}
.content-about{
    padding: 0;
    text-align: center;
}
nav ul{
    text-align: center;
    margin-left: 10px;
}
nav a{
   font-size: 12px;
}
}